.login-main-bg {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #f8fafc;
}

.login-image-lg {
  width: 50%;
  max-width: 700px;
  height: 100%;
}
.login-image-sm {
  display: none;
}
.login-form-container {
  display: flex;
  flex-direction: column;

  width: 30%;
  height: 60%;
  margin: auto;

  background: #ffffff;
  padding: 20px 50px 20px 50px;
}

.logo-container {
  display: flex;
  width: 100%;
  height: 48px;

  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.logo-text {
  font-size: 10px;
  font-family: 'Almendra SC';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  color: #0284c7;
}
.input-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #5a7184;
}
.input-bar {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #c3cad9;
  border-radius: 6px;
  padding: 10px;
  height: 30px;
  width: 100%;
}
.login-btn {
  color: white;
  background: #0284c7;
  border: none;
  padding: 10px;
  height: 35px;
  width: 100%;
  border-radius: 6px;
}
.error-msg {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #ef4444;
}
@media screen and (max-width: 767px) {
  .login-main-bg {
    flex-direction: column;
  }
  .login-form-container {
    width: 80%;
    margin-bottom: 100px;
    /* height: 70%; */
  }
  .login-image-lg {
    display: none;
  }
  .login-image-sm {
    display: block;
    background-color: transparent;
    margin: auto;
    height: 200px;
    width: 200px;
  }
}
